@font-face {
  font-family: 'InconsolataCondensed';
  src: local('InconsolataCondensed'), url(./fonts/InconsolataCondensed-Regular.ttf) format('truetype');
}

.App {
  font-family: InconsolataCondensed;
  background: #FFFFFF;
}

nav, .footer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  height: 60px;
  min-width: 100%;
  background: #FFFFFF;
  position: fixed;
  z-index: 3;
}

nav {
  border-bottom: 1px solid #F1F1F1;
  top: 0px !important;
}

.footer-wrapper {
  border-top: 1px solid #F1F1F1;
  bottom: 0px !important;
}

.nav-content-wrapper, .footer-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: space-between;
  width: 1228px;
  height: 60px;
}

.footer-links-wrapper {
  justify-content: space-between;
  margin-top: 10px;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #4D4D4D;
  font-size: 18px;
  margin-left: auto;
}

.logo {
  z-index: -1;
  width: 40vw;
  height: 40vw;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
}

h3, p {
  color: #4D4D4D;
  font-size: 25px;
  display: block;
}

li {
  color: #4D4D4D;
  font-size: 21px;
}

.active-link {
  text-decoration: underline !important;
  text-decoration-color: #4D4D4D !important;
}

.listen-wrapper, .wear-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background: transparent;
  position: relative;
  z-index: 2;
}

.track {
  width: 1220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 60px;
  background: transparent;
}

.footer-link {
  color: #F1F1F1;
}

.footer-link:hover {
  color: #4D4D4D;
  transition: color .6s;
}

@media screen and (max-width: 1228px) {
  .nav-links {
      margin-right: auto;
  }
}
